/.idea
.idea
.idea/
praxer-style28-05-2018.css
new.html
x.html
table*
dane.html
h2h.v.4.html
h2h.v.5.html
h2h.v.6.html
h2h.v.7.html
toDo.txt
h2h.v1.1.html
h2h.v1.2.html
h2h.v1.3.html
h2h.v1.4.html
h2h.v1.5.html
h2h.v1.6.html
h2h.v1.7.html
/archive
selecty.js
allegro-dataset.js