.pie {
    position: absolute;
    margin-left: .3rem;
    transform: rotate(180deg);
    width: 1.2rem;
    line-height: 1.2rem;
    background: #b7afaf;
    border-radius: 50%;
    circle {
        fill: none;
        stroke: gold;
        stroke-width: 32;
        animation: rotate 1.5s ease-in;
    }
}
  

@keyframes rotate {
    0% {
      stroke-dasharray: 0 100;
    }
}

#stats1 {
    color: #FFF;
}

#stats2 {
    color: rgb(3, 3, 51);
}

.chart-bg {
    background-color: rgba(206, 167, 140, 0.692);
    width: 100%;
    height: 50vh;
}

.chart-line-all {
    fill: none;
    stroke: rgba(59, 59, 59, 0.897);
    stroke-width: 2px;
}

.chart-line-b {
    fill: none;
    stroke: rgb(3, 3, 51);
    stroke-width: 2px;
}

.chart-line-a {
    fill: none;
    stroke: rgb(212, 9, 26);
    stroke-width: 2px;
}

.chart-wrapper {
    position: relative;
    background-color: #EEC;
    width: 100%;
    height: 50vh;
}

.chart-point-a {
    stroke: rgb(212, 9, 26);
    fill: transparent; 
    stroke-width: 3px;
}

.chart-point-b {
    stroke: rgb(2, 3, 65);
    fill: rgb(2, 3, 65); 
    stroke-width: 3px;
}

circle {
    position: relative;
}

.tip {
    // display: inline-block;
    // width: 200px;
    line-height: 1rem;
    opacity: 0.5;
    padding: 0.5rem;
    background-color: #373C42;
    color: #FFF;
    position: absolute;
    z-index: 99;
}